button{
    font-size: 22px;
    padding: 15px;
    margin: 10px;
    border-radius: 20px;
    background: rgb(252, 196, 28);
}
body{
    text-align: center;
    background: linear-gradient(to right, rgb(160, 36, 36),rgb(219, 113, 20));
}